body {
    background-color: #200f54;
}

#foot {
    width: 200px;
    height: 30px;
    background-color: #ffebcd;
    position: absolute;
    right: 300px;
    top: 500px;
}

#stand {
    width: 30px;
    height: 200px;
    background-color: #ffebcd;
    position: absolute;
    right: 380px;
    top: 300px;
}

#candleStand {
    width: 290px;
    height: 20px;
    background-color: #ffebcd;
    position: absolute;
    right: 250px;
    top: 300px;
}

.candle, #shamash {
    background-color: white;
    width: 15px;
    height: 50px;
    position: absolute;
    top: 250px;
}

#one, #flameone {
    right: 250px;
}

#two, #flametwo {
    right: 285px;
}

#three, #flamethree {
    right: 320px;
}

#four, #flamefour {
    right: 355px;
}

#five, #flamefive {
    right: 420px;
}

#six, #flamesix {
    right: 455px;
}

#seven, #flameseven {
    right: 490px;
}

#eight, #flameeight {
    right: 525px;
}

#shamash {
    height: 60px;
    //right: 390px;
    //top: 240px;
    position: relative;
    background-color: white;
    right: 0px;
    top: 20px;
}

#flame {
    background-color: yellow;
    width: 15px;
    height: 20px;
    position: absolute;
    border-radius: 80px 80px 10px 10px;
    right: 390px;
    top: 220px;
    box-shadow: 0px 0px 2px 1px yellow;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.flame {
    background-color: yellow;
    width: 15px;
    height: 20px;
    border-radius: 80px 80px 10px 10px;
    position: absolute;
    top: 230px;
    box-shadow: 0px 0px 2px 1px yellow;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#droppable {
    width: 150px;
    height: 150px;
    float: left;
    margin: 10px;
    border: ridge;
    border-width: 5px;
    position: absolute;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes example {
    0% {
        background-color: rgb(222, 232, 23);
    }
    10% {
        background-color: rgb(233, 214, 42);
    }
    20% {
        background-color: rgb(211, 224, 75);
    }
    30% {
        background-color: rgb(231, 224, 68);
    }
    40% {
        background-color: rgba(226, 215, 69)
    }
    50% {
        background-color: rgba(217, 215, 46);
    }
    60% {
        background-color: rgb(222, 232, 23);
    }
    70% {
        background-color: rgb(233, 214, 42);
    }
    80% {
        background-color: rgb(211, 224, 75);
    }
    90% {
        background-color: rgb(231, 224, 68);
    }
    100% {
        background-color: rgba(226, 215, 69)
    }
}


/* Standard syntax */

@keyframes example {
    0% {
        background-color: rgb(222, 232, 23);
    }
    10% {
        background-color: rgb(233, 214, 42);
    }
    20% {
        background-color: rgb(211, 224, 75);
    }
    30% {
        background-color: rgb(231, 224, 68);
    }
    40% {
        background-color: rgba(226, 215, 69, 0.78)
    }
    50% {
        background-color: rgba(217, 215, 46, 0.79);
    }
    60% {
        background-color: rgb(222, 232, 23);
    }
    70% {
        background-color: rgb(233, 214, 42);
    }
    80% {
        background-color: rgb(211, 224, 75);
    }
    90% {
        background-color: rgb(231, 224, 68);
    }
    100% {
        background-color: rgba(226, 215, 69, 0.78)
    }
}

html {
    min-height: 100%;
    background: #092756;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%, rgba(138, 114, 76, 0) 40%), -moz-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%, rgba(138, 114, 76, 0) 40%), -webkit-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%, rgba(138, 114, 76, 0) 40%), -o-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -o-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%, rgba(138, 114, 76, 0) 40%), -ms-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -ms-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), linear-gradient(135deg, #670d10 0%, #092756 100%);
}

audio {
    display: none;
}
