body {
  background-color: #200f54;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

#foot {
  width: 200px;
  height: 30px;
  background-color: #ffebcd;
  position: absolute;
  right: 300px;
  top: 500px;
}

#stand {
  width: 30px;
  height: 200px;
  background-color: #ffebcd;
  position: absolute;
  right: 380px;
  top: 300px;
}

#candleStand {
  width: 290px;
  height: 20px;
  background-color: #ffebcd;
  position: absolute;
  right: 250px;
  top: 300px;
}

.candle, #shamash {
  background-color: white;
  width: 15px;
  height: 50px;
  position: absolute;
  top: 250px;
}

.chanukkiah {
  visibility: hidden;
}

#one, #flameone {
  right: 250px;
}

#two, #flametwo {
  right: 285px;
}

#three, #flamethree {
  right: 320px;
}

#four, #flamefour {
  right: 355px;
}

#five, #flamefive {
  right: 420px;
}

#six, #flamesix {
  right: 455px;
}

#seven, #flameseven {
  right: 490px;
}

#eight, #flameeight {
  right: 525px;
}

#shamash {
  height: 60px;
  right: 395px;
  top: 240px;
  position: relative;
  background-color: white;
  right: 0px;
  top: 20px;
}

#flame, .flame {
  background-color: yellow;
  width: 15px;
  height: 20px;
  position: absolute;
  border-radius: 80px 80px 10px 10px;
  box-shadow: 0px 0px 2px 1px yellow;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#flame {
  right: 390px;
  top: 220px;
}

.flame {
  top: 230px;
}

audio {
  display: none;
}

/*SEVIVON*/

.wrap {
  perspective: 800px;
  perspective-origin: 50% 100px;
  margin-top: 50px;
}

.handlewrap {
  perspective: 800px;
  perspective-origin: 50% 50px;
  position: absolute;
  right: 1030px;
  top: 150px;
}

#results {
  width: 230px;
  height: 230px;
  z-index: 1;
  font-size: 112px;
  margin-top: 50px;
}

.cube, .handle {
  position: relative;
  width: 200px;
  transform-style: preserve-3d;
  font-size: 112px;
}

.cube p {
  margin-left: 80px;
}

.cube div {
  position: absolute;
  width: 200px;
  height: 200px;
}

.handle div {
  position: absolute;
  width: 50px;
  height: 50px;
}

.back {
  transform: translateZ(-100px) rotateY(180deg);
  background-color: rgb(195, 167, 93);
}

.handleback {
  transform: translateZ(50px) rotateY(180deg);
  background-color: rgb(195, 167, 93);
}

.right {
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
  background-color: rgb(104, 205, 195);
}

.handleright {
  transform: rotateY(-270deg) translateX(-50px);
  transform-origin: top right;
  background-color: rgb(104, 205, 195);
}

.left {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
  background-color: rgb(199, 133, 123);
}

.handleleft {
  transform: rotateY(270deg) translateX(50px);
  transform-origin: center left;
  background-color: rgb(199, 133, 123);
}

.top, .handletop {
  transform: rotateX(-90deg) translateY(-100px);
  transform-origin: top center;
  background-color: rgb(97, 74, 254);
}

.bottom, .handlebottom {
  transform: rotateX(90deg) translateY(100px);
  transform-origin: bottom center;
  background-color: rgb(97, 74, 254);
}

.front, .handlefront {
  transform: translateZ(100px);
  background-color: rgb(194, 89, 177);
}

@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}

.cube, .handle {
  animation: spin 5s infinite linear;
}

@keyframes spin-vertical {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(-360deg);
  }
}

.cube-wrap.vertical .cube {
  margin: 0 auto;
  /* keeps the cube centered */
  transform-origin: 0 100px;
  animation: spin-vertical 5s infinite linear;
}

.handle-wrap.vertical .handle {
  margin: 0 auto;
  /* keeps the cube centered */
  transform-origin: 0 100px;
  animation: spin-vertical 5s infinite linear;
}

.cube-wrap.vertical .top, .handle-wrap.vertical .handletop {
  transform: rotateX(-270deg) translateY(-100px);
}

.cube-wrap.vertical .back, .handle-wrap.vertical .handleback {
  transform: translateZ(-100px) rotateX(180deg);
}

.cube-wrap.vertical .bottom, .handle-wrap.vertical .handlebottom {
  transform: rotateX(-90deg) translateY(100px);
}

.stop button {
  background-color: rgb(221, 213, 242);
  color: rgb(0, 0, 0);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

#restart {
  width: 100px;
  margin-top: 10px;
}

.betting {
  width: 100%;
  -webkit-box-shadow: 1px -1px 35px 17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -1px 35px 17px rgba(0, 0, 0, 0.75);
  box-shadow: 1px -1px 35px 17px rgba(0, 0, 0, 0.75);
  max-width: 300px;
  height: 500px;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  text-align: center;
}

#stop {
  margin-top: 20px;
}

.betting p {
  color: rgb(201, 171, 204);
  font-size: 24px;
  margin-left: 10px;
}

#number, #bet {
  width: 20px;
  height: 10px;
  color: rgb(201, 171, 204);
  font-size: 24px;
}

.pot, .bet {
  display: inline-block;
}

.betting button {
  max-height: 50px;
  max-width: 100%;
  background-color: rgb(221, 213, 242);
  color: rgb(0, 0, 0);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

#collection {
  width: 200px;
  height: 200px;
  background-color: rgb(221, 213, 242);
  color: rgb(0, 0, 0);
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 80px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rules {
  position: absolute;
  top: 10px;
  right: 10px;
}

#gamble {
  width: 100px;
  height: 50px;
  background-color: rgb(221, 213, 242);
  color: rgb(0, 0, 0);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-top: 10px;
}

#close {
  width: 100px;
  height: 50px;
  background-color: rgb(221, 213, 242);
  color: rgb(0, 0, 0);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-left: 120px;
  margin-top: 10px;
}

.rulesdescription {
  -webkit-box-shadow: 1px -1px 35px 17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -1px 35px 17px rgba(0, 0, 0, 0.75);
  box-shadow: 1px -1px 35px 17px rgba(0, 0, 0, 0.75);
  width: 300px;
  height: 400px;
  color: rgb(224, 221, 202);
  font-family: 'Dosis', sans-serif;
}

.rulesdescription p {
  margin-left: 40px;
  margin-top: 20px;
}